@use "global" as *;

.twitter-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    height: rem(1500);
    overflow-y: scroll;
    justify-content: center;
}

.twitter-tweet {
    flex-basis: 100%;

    @include mq(md) {
        flex-basis: 20%;
        // 
    }
}
